Source: vyatta-service-gnss
Section: contrib/net
Priority: optional
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Build-Depends: daemon,
               debhelper (>= 9),
               debhelper (>= 9.20160709) | dh-systemd,
               dh-python,
               dh-vci,
               dh-yang,
               python3,
               python3-systemd,
               python3-zmq,
Standards-Version: 3.9.8

Package: vyatta-service-gnss
Architecture: all
Depends: python3,
         python3-systemd,
         python3-zmq,
         ${python3:Depends},
         ${misc:Depends}
Description: GNSS integration and support
 Provides scripts and files necessary to manage GNSS devices

Package: vyatta-gnss-plugins-ublox
Architecture: all
Depends: python3,
         python3-ufispace-bsp-utils,
         vyatta-service-gnss,
         ${python3:Depends},
         ${misc:Depends}
Description: Ublox GNSS support on the S9500-30XS platform
 Provides support for the ublox GNSS device on the S9500-30XS

Package: vyatta-service-gnss-v1-yang
Architecture: all
Depends: vyatta-service-gnss, ${misc:Depends}, ${yang:Depends}
Description: vyatta-service-gnss-v1 module
 YANG integration for GNSS configuration

Package: vyatta-op-show-gnss-v1-yang
Architecture: all
Depends: vyatta-service-gnss, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-show-gnss-v1 module
 YANG integration for GNSS operational commands

Package: vyatta-op-start-gnss-v1-yang
Architecture: all
Depends: vyatta-service-gnss, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-start-gnss-v1 module
 YANG integration for GNSS operational commands

Package: vyatta-op-stop-gnss-v1-yang
Architecture: all
Depends: vyatta-service-gnss, ${misc:Depends}, ${yang:Depends}
Description: vyatta-op-stop-gnss-v1 module
 YANG integration for GNSS operational commands
